:root {
    --laranja-claro: #B38B59; /* Tom de pergaminho */
}

.inicio-fundo {
    background-image: url('img/fundo-biblioteca.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

#literatura {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/pluma.png') top right no-repeat,
                url('img/pergaminho.png') bottom left no-repeat;
    background-size: 180px 180px;
}

#galeria {
    background-color: #FDF8F1;
}

.fundo-galeria {
    background: url('img/marcas-papel.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/fundo-pergaminho.jpg');
    background-size: cover;
    padding: 4rem 0;
}
